.membership-main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  overflow-x: hidden;
  background-color: #45824b; 
  
}

.membership-img{
  width: 100vw; 
  

  >img{
    width: 100%;
  }
}

.membership-content{
 
}

.membership-content-1{
padding: 1rem;

}

.membership-content-2{
 padding: 1rem;
 
}

.membership-content-btn{
padding: 1rem;
width: 100%;
background-color: white;

}

.membership-plan{
padding: 1rem;

}

.membership-plan-1{
  border: 1px solid white;
  padding: 12px;
  margin-bottom: 4rem;
}

.membership-plan-2{
  border: 1px solid white;
  padding: 12px;
  margin-bottom: 4rem;
}

.membership-cta{
  margin-bottom: 4rem;
}

.membership-cta-btn{
  background-color: white;
  margin: 1rem;
  color: black;
}
