.membership-main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  overflow-x: hidden;
  
}

.membership-img{
  width: 100vw;
  

  >img{
    width: 100%;
  }
}

.membership-content{
 
}

.membership-content-1{
padding: 1rem;

}

.membership-content-2{
 padding: 1rem;
 
}

.membership-content-btn{
padding: 1rem;
width: 100%;

}

.membership-plan{
padding: 1rem;

}

.membership-plan-1{
  border: 1px solid green;
  padding: 12px;
  margin-bottom: 4rem;
}

.membership-plan-2{
  border: 1px solid green;
  padding: 12px;
  margin-bottom: 4rem;
}

.membership-cta{
  margin-bottom: 4rem;
  >button{
    margin: 1rem;
  }
}
