.waitlist2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
}




.membership-main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-x: hidden;
  background-color: #2d4d31;
  
}

.membership-img{
  width: 100vw; 
  

  >img{ 
    width: 100%;
  }
}

.membership-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mem-img{

  width: 100%;

>img{
  width: 100%;
  object-fit: cover;
}

}
.membership-content-1{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding: 1rem; 
font-size: 24px;
font-weight: 600;
margin-top: 10rem;
margin-bottom: 0;


}

.membership-content-2{
 padding: 1rem;
 padding-top: 0;
 align-text: center;
 width: 90vw;
 font-size: 12px;
 display: flex;
 justify-content: center;
 text-align: center;

 
}

.membership-content-btn{
padding: 1rem;
width: 100%;
background-color: #f1f1f1;

}

.membership-plan{
padding: 1rem;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

.membership-plan-1{
  border: 1px solid white;
  padding: 12px;
  background-color: #f1f1f1;
  color: #2d4d31;
  border-radius: 10%;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 width: auto;
 
 height: auto;

 margin: 0.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-text: left;
 }

.membership-plan-2{
  border: 1px solid white;
  padding: 12px;
  background-color: #f1f1f1;
color: #2d4d31;
  border-radius: 10%;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 width: auto;
 margin-bottom: 0;
 height: auto;
display: flex;
 flex-direction: column;
 justify-content: center;
 align-text: left;
 margin: 0.5rem;
}

.membership-cta{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.membership-cta-btn{
  background-color: #2d4d31;
margin: 0.5rem;
  color: #f1f1f1;
  font-size: 14px;
}

@media (max-width: 500px) {
.membership-plan{
padding: 1rem;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.membership-plan-1{
  border: 1px solid white;
  padding: 12px;
  background-color: #f1f1f1;
  color: #2d4d31;
  border-radius: 20px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 width: auto;
 
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.membership-plan-2{
  border: 1px solid white;
  padding: 12px;
  background-color: #f1f1f1;
color: #2343b1;
  border-radius: 20px;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 width: auto;
 height: auto;
}

.membership-cta{

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 2rem;
}

.membership-cta-btn{
  background-color: #2d4d31;
  font-size: 16px;
  color: #f1f1f1;
  border-radius: 20px;
}


}



.mp1-heading{

 font-size: 14px;
 font-weight: 600;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center
}

.mp1-des{
padding-left: 6rem;
padding-right: 6rem;

 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 
}

.mid{
  width: 100%;
  height:16px;
  border-bottom: 1px solid #2d4d31;
 
}

.mp1-point1{
  padding: 0rem;

  margin-block-end: 0;
  margin-block-start: 0;
  

}

.mp1-point1-heading{
 

font-weight: 600;
 

}

.mp1-point1-des{
font-size: 16px;
}

.mp1-des1{
  
  width: 100%;
  padding: 1rem;
  margin:0;
  padding:1rem;
  text-align: center;
}

@media (max-width: 430px){

.mp1-heading{

 font-size: 20px;
 font-weight: 600;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center
}

.mp1-des{
padding-left: 1rem;
padding-right: 1rem;
font-size: 16px;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 text-align: start;


 >ul{
   padding: 0;
   margin: 0;
   text-align: start;

   >li{
     
   }
 }
 
}

.mid{
  width: 100%;
  height:16px;
  border-bottom: 1px solid #2d4d31;
 
}

.mp1-point1{
  padding: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  

}

.mp1-point1-heading{

 display: flex; 
font-size: 16px;



}

.mp1-point1-des{

}

} 
