/* src/Projects.css */
  
.route-main {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.project-card.text-visible .route-main {
  opacity: 1;
  transform: translateY(0);
}
  
.title{
  padding-top: 0rem;
  font-size: 2rem;
  color: #f1f1f1;
  background-color: transparent;
}

.des{
  padding-top: 0rem;
  font-size: 0.8rem;
  margin-block-end: 0;
  margin-block-start: 0;
 
  text-align: center;
}

.name{
  margin-top: 1rem ;
  font-size: 20px;
 font-weight: 500;
  border-bottom: 1px solid gray;
 color: rgb(31, 31, 31);
padding: 3px 3px;

}

.desc-1{
margin-top: 2rem;
font-size: 0.8rem;
background-color: transparent;


}

.desc-2{
  background-color: transparent;
}





.projects-container {
  position: relative;
  height: 600vh; /* to allow scrolling */
  width: 100%;
  overflow-y: none;
  
  overflow-x: none;
 
 
}

.project-card {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
 text-align: center;
  padding: 0px;
  margin: 0;
  width: 100%;
  box-shadow: 0 2px 3px rgba(222, 216, 216, 0.1);
  z-index: 1;
 
}

.project-card.show {
  opacity: 1;
  transform: translateY(0%);
}

.project-card.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s ease-in-out forwards; 

}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: brightness(1);
   
    scale: (1);
  }
  100% {
    opacity: 1;
    filter: brightness(0.5); /* Adjust this to the level you want */
    
    scale: .96;
  }
}


.project-card img {
  width: 25%;
  height: 50%;
  margin-top: 1rem;
  display: flex;
  align-self: center;

}

@media only screen and (max-width: 768px) {
  .projects-container {
    height: 320vh;
    display: flex;
    flex-direction: column;
   
  }

  .project-card {
    height:  100vh;
    background-color: rgb(217, 163, 93);
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
  .project-card img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
}



@media only screen and (max-width: 390px) {
  .projects-container {
    height: 300vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .des{
    padding-top: 0rem;
    font-size: 0.8rem;
   
  }

  .project-card {
    height: 100vh;
    background-color: rgb(217, 163, 93);
    width: 100%;
    padding: 0;
    margin: 0;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .project-card img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
}

.proj-img{
  
}



.route-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* src/Projects.css */







/* Define dynamic background colors for each project card */
.bg-1 {
background-color:  #efd6bf;/* Light Pink */
}

.bg-2 {
background-color: #efd6bf;;  /* Light Blue */
}

.bg-3 {
background-color: #efd6bf;;  /* Light Green */
}

.bg-4 {
background-color: #efd6bf;;  /* Yellow */
}

.bg-5 {
background-color: #efd6bf;;   /* Light Red */
}
